<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Connection ou Inscription - Tweet</title>

		<%= render "layouts/components/css" %>
	</head>

	<body>


		<div class="container" >

	      <div class="row " style="margin-top: 150px;">



	        <div class="col-md-4" style="margin-top: 40px; m">
	        </div>

	        <div class="col-md-4">

	          <div class="card">
	          	<div class="card-header text-center"><h1>Inscription</h1></div>
	            <div class="card-body ">

	              <div class="errors">
	                    <% if flash[:register_errors]%>
	                      <% flash[:register_errors].each do |error| %>
	                        <p class="alert alert-danger"> <%=error%></p>
	                      <%end%>
	                    <%end%>
	              </div>
	              <form method="post" action="<%= users_signupform_path %>">
	                <!-- Email input -->
	                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">


	                <div class="form-outline mb-4">
	                  <input type="text" id="name" class="form-control" name="user[name]" />
	                  <label class="form-label" for="name">Votre nom</label>
	                </div>

	                <div class="form-outline mb-4">
	                  <input type="email" id="email" class="form-control" name="user[email]" />
	                  <label class="form-label" for="email">Votre adresse Email</label>
	                </div>

	                <div class="row ">

		                <div class="form-outline mb-4 col mr-4 ml-2">
		                  <input type="password" id="password" class="form-control" name="user[password]" />
		                  <label class="form-label" for="password">Votre mot de passe</label>
		                </div>

		                <div class="form-outline mb-4 col mr-2">
		                  <input type="password" id="password_confirmation" class="form-control" name="user[password_confirmation]" />
		                  <label class="form-label" for="password_confirmation">Confirmez votre mot de passe</label>
		                </div>
		            </div>


	                <!-- 2 column grid layout for inline styling -->


	                <!-- Submit button -->
	                <button type="submit" class="btn btn-primary btn-block">S'insrire</button>
	                <br>

	              </form>
	              <hr>

	              <div class="text-center mt-4">
	              	Déjà inscrit?  &nbsp;
	              	<%= link_to 'Cliquez ici', index_path, style: "color: blue;"%>
	              </div>

	            </div>


	          </div>
	          <br>

	        </div>

	        <div class="col-md-4"></div>

	      </div>

	    </div>


		<%= render "layouts/components/js" %>
	</body>

</html>
