<header>
	<header>
<style>
    #nav_menu{
      color: #1a2649;
      font-family: Arial;
      font-weight: bolder;
    }

    #btp:hover{
      color: white;
      background-color: #1a2649;
    }

    .current{

      border-bottom: #229ddc solid;
    }

    .dropbtn {

	  font-size: 16px;
	  border: none;
	}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #1a2649;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}

  </style>




	<nav class="navbar navbar-expand-lg   navbar-light bg-light " style="margin-top: 15px;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link"  href="<%= index_path %>" style="margin-left: 10px;">
          Tweet
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #1a2649; color: white;">
          <i class="fas fa-bars" style="color: white;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 50px;">




            <li class="nav-item" style="margin-right: 15px;">
              <a class="nav-link" href="<%= users_dashboard_path %>" id="nav_menu"
                >Accueil</a>
            </li>


            <li class="nav-item" style="margin-right: 15px;">
              <a class="nav-link " href="<%= users_profil_path %>"  id="nav_menu">Profil</a>
            </li>
            &nbsp;



            <li class="nav-item" >
              <a
                  class="btn btn-info btn-rounded "
                  href="<%= users_newpub_path %>"
                  role="button"
                  style="  color: white;
                   background-color: #1a2649;
                   border-color: #1a2649; "

               >Publier</a>
            </li>&nbsp;&nbsp;

            <li class="nav-item" >
              <a
                  class="btn btn-outline-info btn-rounded"
                  href="<%= users_destroy_path %>"
                  role="button"
                  style="  color: #1a2649;
                   background-color: white;
                   font-family: Arial;
      				font-weight: bolder;
      				border-color: #1a2649;"
                  id="btp"
               >Se déconnecter</a>
            </li>
          </ul>


        </div>
      </div>
    </nav>



</header>
</header>
